.backgroundWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #e2d4c2;
  color: black; }

.background {
  background: white; }
