.dial {
  display: flex;
  flex-flow: row wrap;
  height: 50%;
}
.dialNum {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 33.3333%;
  font-size: 8vh;
  cursor: pointer;
}